= semantic_form_for @project do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name, :input_html => {'data-autofocus' => 'true'}
    = f.input :comment, :input_html => {:rows => 5}
    = f.input :duration_from, :as => :date_field
    = f.input :duration_to, :as => :date_field
    = f.input :project_state
    = f.input :client, :as => :combobox
  = f.buttons do
    = f.commit_button
