= simple_form_for @project do |f|
  .row-fluid
    .span6
      = f.input :name, :input_html => {'data-autofocus' => 'true'}
      = f.input :duration_from, :as => :date_field
      = f.association :client, :as => :combobox
    .span6
      = f.association :project_state
      = f.input :duration_to, :as => :date_field
  .row-fluid
    .span12
      = f.input :remarks, :input_html => {:rows => 5}

  = f.button :submit