%table.condensed-table.span8
  %tr
    %th= t_attr :date, Activity
    %th.number= t_attr :working_hours, Activity
    %th.number= t_attr :overtime, Activity
    %th.number= t_attr :overall_overtime, Activity

  - overall_overtime = 0
  - WorkDay.for_month(@employee).each do |day|
    - overall_overtime += day.overtime
    %tr{:class => work_day_classes(day)}
      %td= l(day.date, :format => '%a, %d.%m.%Y')
      %td.number
        %span.strong= "%0.1f" % day.hours_worked
        = "(%0.1f)" % day.hours_due
      %td.number.overtime.strong= day.overtime
      %td.number.overall-overtime.strong= overall_overtime
