%table.condensed-table.span8
  %tr
    %th= t_attr :date, Activity
    %th.number= t_attr :working_hours, Activity
    %th.number= t_attr :overtime, Activity
    %th.number= t_attr :overall_overtime, Activity

  - overall_overtime = 0
  - WorkDay.for_month(@employee).each do |day|
    - overall_overtime += day.overtime
    - tr_params = {:class => work_day_classes(day)}
    - tr_params.merge!(:rel => 'popover', 'data-content' => h(render 'timesheets/activities_popover', :activities => day.activities), 'data-original-title' => 'Aktivitäten', 'data-html' => 'true') unless day.activities.empty?
    %tr{tr_params}
      %td= link_to l(day.date, :format => '%a, %d.%m.%Y'), person_activities_path(@employee, :by_date => day.date.to_s(:db)), 'data-href-container' => 'tr'
      %td.number
        %span.strong= "%0.2f" % day.hours_worked
        = "(%0.2f)" % day.hours_due
      %td.number.overtime.strong= "%0.2f" % day.overtime
      %td.number.overall-overtime.strong= "%0.2f" % day.overall_overtime
