.contextual
  = contextual_link_to :new, Activity

%h1= t_title

%table.list
  %tr
    %th Datum
    %th Wochentag
    %th.number Soll-Stunden
    %th.number Stunden
    %th.number Über-/Unterzeit
    %th.number Saldo

  - overall_overtime = 0
  - @work_days.each do |day|
    - overall_overtime += day.overtime
    %tr
      %td= day.date
      %td= l(day.date, :format => '%A')
      %td.number= day.hours_due
      %td.number= day.hours_worked
      %td.number= day.overtime
      %td.number= overall_overtime
