= semantic_form_for @activity do |f|
  = f.inputs do
    .row-fluid
      .span5= f.input :person, :as => :combobox
      .span5= f.input :project, :as => :combobox
    .row-fluid
      .span5= f.input :date, :as => :date_field
      .span5= f.input :duration, :as => :string

    .row-fluid
      .span10= f.input :remarks, :input_html => {:rows => 2, :class => 'span10'}

  = f.buttons do
    = f.commit_button
