= semantic_form_for @activity do |f|
  = f.inputs do
    .row
      .span8= f.input :person, :as => :combobox
      .span8= f.input :project, :as => :combobox
    .row
      .span8= f.input :date, :as => :date_field
      .span8= f.input :duration

    .row
      .span16= f.input :remarks, :input_html => {:rows => 2, :class => 'span12'}

  = f.buttons do
    = f.commit_button
