= simple_form_for [parent, @activity].compact do |f|
  .row-fluid
    .span6= f.association :person, :as => :combobox
    .span6= f.association :project, :as => :combobox
  .row-fluid
    .span6= f.input :date, :as => :date_field
    .span6= f.input :duration, :as => :string

  .row-fluid
    .span12= f.input :remarks, :input_html => {:rows => 2}

  = f.button :submit