= semantic_form_for @activity do |f|
  = f.inputs do
    .row
      .span6= f.input :person, :as => :combobox
      .span6= f.input :project, :as => :combobox
    .row
      .span6= f.input :date, :as => :date_field
      .span6= f.input :duration, :as => :string

    .row
      .span12= f.input :remarks, :input_html => {:rows => 2, :class => 'span12'}

  = f.buttons do
    = f.commit_button
