= semantic_form_for @activity do |f| #when:date from:datetime to:datetime person_id:integer project_id:integer comment:string
  = f.inputs do
    = f.input :person
    = f.input :project
  = f.inputs do
    = f.input :when, :as => :date_field, :required => true
    = f.input :from, :as => :hour_field
    = f.input :to, :as => :hour_field
    = f.input :hours
    = f.input :minutes
  = f.inputs do
    = f.input :comment
  = f.buttons do
    = f.commit_button