%table.list#activities_list
  %tr
    - [:person, :when, :duration].each do |attr|
      %th= t_attr(attr, Activity)
    %th.action-links

  - collection.each do |task|
    %tr
      %td= task.person
      %td= link_to task.when, task, {'data-href-container' => 'tr'}
      %td= t('bookyt.projects.minutes', :duration => task.duration)
      %td.action-links
        = list_link_for(:edit, task)
        = list_link_for(:delete, task)
