%table.table.table-striped.activities.collection
  %thead
    %tr
      - [:date, :person, :project].each do |attr|
        %th= t_attr(attr, Activity)
      %th.right= t_attr(:duration, Activity)
  %tbody
    = render collection
  %tfoot
    %tr
      %th= "#{collection.minimum(:date)} - #{collection.maximum(:date)}"
      %th
      %th
      %th.right= t('bookyt.projects.hours', :duration => "%0.2f" % collection.sum(:duration))

= render 'activities/sidebar'
